body{
	display:flex;
	background-color:#E4E3D6;
	margin-top:0%;
	margin-left:0%;
	margin-right:0%;
	justify-content:center;
}
form{
	display:flex;
	flex-direction:column;
}
form>input{
	margin-bottom:1.5%;
}