body{
	background-color:#E4E3D6;
	display:flex;
	flex-direction:column;
	align-items:center;
}
img{
	width:100%;
	border-radius:8px;
	border: 4px solid black;
}

.riquadro{
	border:1px solid gray;
	width:15;
	border-radius: 3px;
	text-align:center;
	margin-left: 2%;
	margin-bottom: 1%;
}
.riquadro >button >a> img{
	width:269px;
	height:150px;
	border-bottom:1px solid gray;
	border:none;
	border-radius:0px;

}

.riquadro>button:hover{
	cursor:pointer;
}
.riquadro:hover{
	border-image:  conic-gradient(orange,yellow,red)12;
	box-shadow:5px 5px gray;
	transform: translate(-1px, -1px);	
}

button{
	background-color:transparent;
	padding:0%;
	border:none;
}
a{
	text-decoration:none;
	color:black;
}
#blocca{
	display:flex;
	flex-wrap:wrap;
	width:100%;

}
#per{
	width:10%;
	display:flex;
	justify-content:center;
}
input:hover{
	cursor:pointer;
}